/* css styles */

/* .navbar-logo { */
/*   max-height: 65px; */
/* } */
/**/

/* Main Styling */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

/* body text */
/* body { */
/**/
/*   font-family: "IBM Plex Sans", "Source Serif Pro" */
/* } */

figure {
  padding-top: 20px;
}

h1.hide {
  display: none;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  /* padding-top: 50px; */
}

h2 {
  font-weight: 700;
  /* padding-top: 30px; */
}

h2.hide {
  display: none;
}

h3 {
  font-weight: 700;
  /* padding-top: 20px; */
}

body {
  line-height: 1.6
}

strong {
  font-weight: 600;
}

a[href] {
  color: #2E7636
}

/* Button Style */
.atlas_button {
  background: #FFFFFF;
  border: 1px solid black;
  padding: 10px 20px;
}

.atlas_button:hover {
  background: #EFEFEF;
}
